%button {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.close {
  @extend %button;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image:
    url("../public/close.svg");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-image:
      url("../public/close_hover.svg");
  }
}

.menu {
  @extend %button;
  background-image:
    url("../public/menu.svg");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-image:
      url("../public/menu_hover.svg");
  }
}