body {
  color: white;
  background: linear-gradient(90deg, rgba(186, 206, 193, 1) 0%, rgba(6, 38, 45, 0.9812967423297444) 100%);
  padding: 0;
  margin: 0;
  font-family: 'Dancing Script', cursive, 'Playfair Display', serif;
  font-size: 14px;
  overflow-x: hidden;


}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

img {
  display: block;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  min-width: 320px;
  max-width: 1170px;
}

.slides {
  display: grid;
  position: relative;
  margin-bottom: 50px;

  >.slide {
    grid-area: 1 / -1;
  }

  >button {
    appearance: none;
    background: transparent;
    border: none;
    color: #1D3124;
    position: absolute;
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 50px;
    width: 30px;
    height: 30px;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -15px;
    }

    &:last-child {
      right: -15px;
    }
  }
}

.slide {
  //transform-style: preserve-3d;
  // border: solid 1px red;

  // &[data-active] {
  //   .slideContent > * {
  //     transform: none;
  //     opacity: 1;
  //   }
  // }
}

.slideContent {
  width: 15vw;
  height: 20vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
}


.slide[data-active] {
  z-index: 2;
  pointer-events: auto;


  .slideContentInner {
    opacity: 1;

  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg)) rotateX(calc(var(--y) * -45deg));
    }
  }
}