.page_header {
  border-bottom: 1px solid #ececec;
  background-color: #F6F4E8;
  opacity: 90%;
  z-index: 977;
  position: fixed;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  min-width: 320px;
  max-width: 1170px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 90px;


  @media screen and (min-width: 900px) {
    margin-left: 120px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }

  &__link {
    display: block;
    padding: 27px 0px;

    color: #1D3124;

    font-weight: 500;
    font-size: 31px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #E59560;
      font-size: 35px;
      padding: 10px 0px;
    }
  }
}

.nav_active_link {
  display: block;
  padding: 10px 0px;

  font-weight: 500;
  font-size: 25px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: #E59560;
}

.style {
 height: 70px;
 width: 100vw;
}



.menu_container {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 57px 40px;
  background-color: #F6F4E8;
  z-index: 997;
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
  opacity: 90%;
}

.isClose {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #F6F4E8;
  z-index: 997;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}


.mobile_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100%;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 39px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #1D3124;

    &:focus,
    &:hover {
      color: #E59560;
    }
  }

  .mobile_link_active {
    font-weight: 500;
    font-size: 43px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #E59560;
  }
}