.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 600px;
  height: 100%;
  text-align: center;

  @media screen and (max-width: 800px) {
    width: 200px;
  }

  &__title_cover {
    position: absolute;
    top: 25%;
    left: 12%;
    margin-bottom: 30px;
  }

  &__title {
    font-family: Playfair Display, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: white;

    @media screen and (max-width: 800px) {
      font-size: 30px;
    }
  }

  &__text_cover {
    position: absolute;
    top: 35%;
    margin-bottom: 350px;
  }

  &__text {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: white;

    @media screen and (max-width: 800px) {
      font-size: 30px;
    }
  }

  &__title_small_cover {
    position: absolute;
    top: 75%;
    left: 3%;
    margin-bottom: 50px;
  }

  &__title_small {
    font-family: Playfair Display, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #1D3124;
    padding: 0 20px;
    text-align: start;
    animation: animate_title 5000ms infinite 7000ms;

    @media screen and (max-width: 800px) {
      font-size: 16px;
    }
  }

  &__list {
    position: absolute;
    top: 85%;
    left: 3%;
    z-index: 77;
    text-align: start;
    list-style: disc;
    padding: 0 30px;
  }

  &__item_cover {
    margin-bottom: 5px;
  }

  &__item {
    color: #1D3124;
  }

  &__link {
    font-weight: 700;
    font-size: 41px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #1D3124;

    &:hover,
    &:focus {
      color: #E59560;
      font-size: 33px;
    }

    @media screen and (max-width: 800px) {
      font-size: 21px;

      &:hover,
      &:focus {
        font-size: 21px;
      }

    }
  }

}


@keyframes animate_title {
  0% {
    transform: scale(1);
    color: white;
  }

  50% {
    transform: scale(1.2);
    color: #E59560;
  }

  100% {
    transform: scale(1);
    color: white;
  }
}