.hero {
  position: absolute;
  left: 3vw;
  top: 300px;
  width: 500px;
  text-align: center;
  padding-bottom: 200px;


  @media screen and (max-width: 800px) {
    width: 200px;
    top: 150px;
  }

  @media screen and (max-width: 700px) {
    padding-bottom: 100px;
  }

  @media screen and (max-width: 500px) {
    padding-bottom: 150px;
  }


  &__title {
    font-family: Playfair Display, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 30px;

    @media screen and (max-width: 800px) {
      font-size: 30px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 55px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 195px;



    @media screen and (max-width: 800px) {
      font-size: 30px;
      margin-bottom: 95px;
    }
  }

  &__title_small {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Playfair Display, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #1D3124;
    padding: 0 20px;
    margin-bottom: 50px;
    text-align: start;
    animation: animate 12000ms 1, animate_title 5000ms infinite 12000ms;

    @media screen and (max-width: 450px) {
      bottom: 25%;
    }


    @media screen and (max-width: 800px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__list {
    position: absolute;
    bottom: -15%;
    left: -35px;
    text-align: start;
    list-style: disc;
    color: #1D3124;
    padding: 0 30px;
    animation-name: animate;
    animation-duration: 12000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    @media screen and (max-width: 450px) {
      bottom: 15%;
      left: 10px;
    }
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #1D3124;

    &:hover,
    &:focus {
      color: #E59560;
      font-size: 33px;
    }

    @media screen and (max-width: 800px) {
      font-size: 18px;

      &:hover,
      &:focus {
        font-size: 21px;
      }

    }
  }
}

@keyframes animate {
  0% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate_title {
  0% {
    transform: scale(1);
    color: white;
  }

  50% {
    transform: scale(1.2);
    color: #E59560;
  }

  100% {
    transform: scale(1);
    color: white;
  }
}