.hero {
  position: relative;
  z-index: 3;
  width: 600px;
  height: 100%;
  text-align: center;
  overflow-y: initial;


  @media screen and (max-width: 800px) {
    width: 200px;
  }


  &__title {
    position: absolute;
    top: 25%;
    left: 12%;
    font-family: Playfair Display, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 30px;
    animation: animate 12000ms 1;


    @media screen and (max-width: 800px) {
      font-size: 30px;
    }
  }

  &__text {
    position: absolute;
    top: 35%;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 350px;
    animation: animate 12000ms 1;

    @media screen and (max-width: 800px) {
      font-size: 30px;
    }
  }

  &__title_small {
    position: absolute;
    top: 95%;
    left: 3%;
    font-family: Playfair Display, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #1D3124;
    padding: 0 20px;
    margin-bottom: 50px;
    text-align: start;
    animation: animate 12000ms 1, animate_title 5000ms infinite 12000ms;

    @media screen and (max-width: 800px) {
     font-size: 16px;
    }

  }

  &__list {
    position: absolute;
    top: 105%;
    left: 3%;
    text-align: start;
    list-style: disc;
    color: #1D3124;
    padding: 0 30px;
    animation: animate 12000ms 1;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #1D3124;

    &:hover,
    &:focus {
      color: #E59560;
      font-size: 33px;
    }

    @media screen and (max-width: 800px) {
      font-size: 18px;

      &:hover,
      &:focus {
        font-size: 21px;
      }

    }
  }
}

@keyframes animate {
  0% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate_title {
  0% {
    transform: scale(1);
    color: white;
  }

  50% {
    transform: scale(1.2);
    color: #E59560;
  }

  100% {
    transform: scale(1);
    color: white;
  }
}

