.overlay {
  display: flex;
  align-items: stretch;
  width: 100vw;
  z-index: 1;
  overflow-x: hidden;
  padding-bottom: 250px;

  @media screen and (max-width: 500px) {
    padding-bottom: 100px;
  }
 
}

.cover_box_1 {
  width: 15%;
  animation: animate_box_1 5000ms 1;
}

.cover_box_2 {
  width: 85%;
  animation: animate_box_2 5000ms 1;
}

.overlay_2 {
  background-color: transparent;
  position: relative;

  &__image{
    width: 70vw;
  } 

}

@keyframes animate_box_1 {
  0% {
    width: 0%;
  }

  100% {
    width: 15%;
  }
}

@keyframes animate_box_2 {
  0% {
    width: 100%;
  }

  100% {
    width: 85%;
  }
}