.picture{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  width: 100%;
  min-height: 500px;
  /* height: 90vh; */
  padding-left: 70px;
  padding-bottom: 250px;

  @media screen and (max-width: 500px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 800px) {
    padding-left: 150px;
   }

   @media screen and (min-width: 1200px) {
    padding-left: 200px;
   }
}

.image {
  width: 20%;
 height: 11vh;
  display: block;

  @media screen and (min-width: 800px) {
   height: 12vh;
   }

   @media screen and (min-width: 1200px) {
    height: 20vh;
   } 
}

