.picture{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
  animation:  animate_opacity 12000ms infinite 7000ms;
}

.image{
  animation: animate_box 5000ms 1;
}

@keyframes animate_box {
  0% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate_opacity {
  0% {
    opacity:1;
  }

  50% {
    opacity:0.55;
  }

  100% {
    opacity:1;
  }
}