.projects {
  padding: 150px 50px;
  min-height: 750px;

  @media screen and (max-width: 768px) {
    padding: 120px 30px;
  }

  &__title {
    display: none;
  }

  &__list {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__item {
    width: 55vw;
    margin: 50px auto;
    border-radius: 25px;
    display: block;
    background: transparent;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__describing {
    padding: 0 24px;
    border-top: none;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(186,206,193,1);
    width: 100%;
    opacity: 0.8;

    @media screen and (min-width: 768px) {
      flex-grow: 1;
      text-align: start;
    }

    @media screen and (max-width: 1200px) {
      flex-grow: 1;
    }
  }

  &__thumb {
    background-color: rgba(186,206,193,1);
    width: 100%;
    height: 100%;
  }

  &__image {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  &__name {
    color: #1D3124;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.06em;
  }

  &__type {
    color: #757575;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

}

.projects_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 50px;


  &__item {
    margin: 0 0 30px;
  }
}

@media screen and (min-width: 768px) {

  .projects_menu {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;

    &__item {
      margin: 0 8px 50px 0;
    }

  }

  .projects {

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -30px;
    }

    &__item {
      margin:0 15px 50px;
      width: calc((100% - 4 * 15px) / 2);
    }
  }
}

@media screen and (min-width: 1000px) {


  .projects {

    &__item {
      
      margin: 15px 0 50px 15px;
      width: calc((100% - 6 * 15px) / 3);
    }
  }
}