.deck {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 15vw;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vw;
  max-width: 250px;
  height: 85vh;
  max-height: 285px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}
